/* Configuración general de la página */
body {
    font-family: 'Arial', sans-serif; 
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
}

/* Main */
main {
    background-color: white;
    width: 80%; 
    margin: 0 auto; 
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1); 
    text-align: center;
}

/* Títulos */
h1, h2 {
    color: #333;
}

/* Tabla del Calendario */
table {
    width: 100%;
    border-collapse: collapse; 
    margin-top: 15px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #0056b3; 
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2; 
}

/*Formulario */
.Formulario {
    background-color: #e3f2fd; 
    border: 2px solid #0056b3; 
    border-radius: 15px;
    padding: 20px;
    text-align: left; 
    width: 60%;
    margin: 0 auto; 
}

/* Inputs */
input[type="text"], input[type="email"], select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 90%; 
}

/* Botones */
button, input[type="submit"], input[type="reset"] {
    background-color: #0056b3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}


.Evento {
    background-color: #fafafa;
    border-left: 5px solid #0056b3;
    padding: 10px;
    margin: 5px 0;
    text-align: left;
}